:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-logo: #000000;
  --bgc-accent: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-color-header: #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section--bgc {
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4pxrgba 0, 0, 0, 0.15;
          box-shadow: 0px 4px 4pxrgba 0, 0, 0, 0.15;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
}
.button:hover, .button:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: #afb1b8;
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social__link--bgc {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social__icon--color {
  fill: currentColor;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: var(--primary-text-color);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
}
.button-close:hover {
  color: var(--accent-color);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button-close__icon {
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  cursor: pointer;
}

.form-field__link {
  color: var(--accent-color);
}

.registration-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  margin: 0 auto;
  padding: 10px 55px;
}

.input-wrap {
  position: relative;
}

.form-field__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transform: border 250ms var(--animation-timing-function);
          transform: border 250ms var(--animation-timing-function);
}
.form-field__input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__label {
  margin-bottom: 4px;
}
.form-field__label:last-child {
  margin-bottom: 0;
}

.agreement {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.agreement__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}

.textarea {
  margin-bottom: 20px;
}

.form-field__textarea {
  height: 120px;
  padding: 12px 16px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transform: border 250ms var(--animation-timing-function);
          transform: border 250ms var(--animation-timing-function);
}
.form-field__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox:checked + .checkbox__icon {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  outline: 2px solid var(--primary-text-color);
  outline-offset: -2px;
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid var(--border-color-header);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
  color: var(--color-logo);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(117, 117, 117);
}
.header-contacts__item:hover, .header-contacts__item:focus {
  color: var(--accent-color);
}

.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}

.header-contacts__icon {
  fill: currentColor;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo__first-word {
  color: var(--accent-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity 250ms var(--animation-timing-function), -webkit-transform 500ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), -webkit-transform 500ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), transform 500ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), transform 500ms var(--animation-timing-function), -webkit-transform 500ms var(--animation-timing-function);
}
.nav__link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav--current {
  color: var(--accent-color);
}
.nav--current::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero,
.footer {
  background-color: var(--bgc-accent);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-page1/img8.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images-page1/img8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 251px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.features__item {
  width: 270px;
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--background-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__subtitle {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.features__text {
  color: var(--secondary-color);
  line-height: 1.7;
}

.about {
  padding-top: 0;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding: 30px 32px;
  text-align: center;
}

.team__subtitle {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  margin-bottom: 16px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  width: 106px;
  height: 60px;
}

.clients__icon {
  fill: currentColor;
}

.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.work-button {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding: 6px 22px;
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
}

.work-button--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work__item {
  width: calc((100% - 60px) / 3);
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-color);
  -webkit-transition: background-color 250ms var(--animation-timing-function), border 250ms var(--animation-timing-function);
  transition: background-color 250ms var(--animation-timing-function), border 250ms var(--animation-timing-function);
}

.work__item:hover,
.work__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.work-wrap {
  position: relative;
  overflow: hidden;
}

.work-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), transform 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
}

.work-thumb__description {
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.work__item:hover .work-thumb {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work__subtitle {
  padding-top: 20px;
  padding-left: 24px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work__text {
  padding-bottom: 20px;
  padding-left: 24px;
  margin-bottom: 0;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}
.footer__item--margin {
  margin-right: 93px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.footer-subtitle {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address--color {
  color: var(--primary-white-color);
  line-height: 1.7;
}

.address__list {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
}

.footer-form {
  margin-right: 0;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;
  font: inherit;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  translate: border 250ms var(--animation-timing-function);
}
.footer-form__input:focus {
  border-color: var(--accent-color);
}

.footer-form__button {
  padding: 10px 28px;
  gap: 10px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer-form__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */