.form-field__label {
   margin-bottom: 4px;

   &:last-child {
      margin-bottom: 0;
    }
   
 }
 
 .agreement {
   margin-bottom: 30px;

   &__label {
      display: inline-flex;
      gap: 10px;
    }
    
 }

