.checkbox:checked + .checkbox__icon {
   outline-color: var(--accent-color);
   background-color: var(--accent-color);
 }

 .checkbox__icon {
   width: 16px;
   height: 15px;
 
   outline: 2px solid var(--primary-text-color);
   outline-offset: -2px;
   border-radius: 2px;
 }