.form-field__label {
   margin-bottom: 4px;
 }
 
 .form-field__label:last-child {
   margin-bottom: 0;
 }

 .agreement {
   margin-bottom: 30px;
 }

 .agreement__label {
   display: inline-flex;
   gap: 10px;
 }