.textarea {
   margin-bottom: 20px;
 }
 
 .form-field__textarea::placeholder {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
 }
 
 .form-field__textarea {
   height: 120px;
   padding: 12px 16px;
   font: inherit;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   resize: none;
 
   transform: border 250ms var(--animation-timing-function);
 }
 
 .form-field__textarea:focus {
   outline: transparent;
   border-color: var(--accent-color);
 }