:root {
   --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --primary-text-color: #212121;
   --secondary-color: #757575;
   --accent-color: #2196f3;
   --primary-white-color: #ffffff;
   --color-logo: #000000;
   --bgc-accent: #2f303a;
   --background-color: #f5f4fa;
   --border-color: #eeeeee;
   --border-color-header: #ececec;
 }
 