.address {
   display: flex;
   flex-direction: column;
 }
 
 .address__list {
   display: block;
 }
 
 .address__item:not(:last-child) {
   margin-bottom: 9px;
 }
 
 .address__link {
   color: rgb(255, 255, 255, 0.6);
   font-style: normal;
   line-height: 1.7;
 }
 
 .address--color {
   color: var(--primary-white-color);
   line-height: 1.7;
 }