.clients__list {
   display: flex;
   gap: 30px;
 }
 
 .clients__item {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
 
   border: 1px solid #afb1b8;
   border-radius: 4px;
   color: #afb1b8;
   transform: scale(1, 1);
 
   transition: color 250ms var(--animation-timing-function),
     background-color 250ms var(--animation-timing-function),
     transform 250ms var(--animation-timing-function);

     &:hover,
     &:focus {
   color: var(--accent-color);
   border-color: var(--accent-color);
   transform: scale(1.1, 1.1);
   }

 }
 
 
 .clients__link {
   display: flex;
   justify-content: center;
   align-items: center;
 
   color: currentColor;
   width: 106px;
   height: 60px;
 }
 
 .clients__icon {
   fill: currentColor;
 }